
/* Printing Layout */
table {
	border-collapse: collapse;
	border: 2px solid #3f7c5f;
	font: normal 80%/140% arial, verdana, helvetica, sans-serif;
	color: #000;
	background: #fff;
}
caption {
	padding: 0 0.6em 0.8em;
	font-size: 1.3em;
	font-weight: bold;
	text-align: left;
	color: #000;
	background: transparent;
}
/*td, th {
	border: 1px solid #e0e0e0;
	padding: 0.5em;
}*/
thead th {
	border: 1px solid #e0e0e0;
	text-align: left;
	font-size: 1em;
	font-weight: bold;
	background: #c6d7cf;
}
tfoot th, tfoot td {
	border: 1px solid #e0e0e0;
	text-align: left;
	font-size: 1em;
	background: #e8e8cf;
}
tfoot th {
	font-weight: bold;
}
tbody td a {
	background: transparent;
	color: #00c;
	text-decoration: underline;
	text-align:inherit;
}
tbody td a:hover {
	background: transparent;
	color: #00c;
	text-decoration: underline;
}
tbody th a {
	background: transparent;
	color: #3f7c5f;
	text-decoration: underline;
	font-weight: bold;
}
tbody th a:visited {
	color: #b98b00;
}
tbody th, tbody td {
	vertical-align: top;
	text-align: inherit;
}
tfoot td {
	border: 1px solid #996;
}
tbody tr:hover {
	background: #ffffd9;
}