body {
    font: normal 12px verdana,arial,tahoma;
}
html, body {
    margin:0;
    padding:0;
    border:0 none;
    overflow:hidden;
    height:100%;
    width:100%;
}
#class .loading-indicator{
	font-size:12px;
	height:18px;
}


#docs .top-toolbar{
    border:0 none;
    border-top:1px solid #d0d0d0;
    background:transparent;
}
#docs .top-toolbar buttons {
    
}
.x-panel-noborder {
    border: 0 none;
}
#header{
   border:0 none;
   background:#1E4176 url(../images/hd-bg.gif) repeat-x 0 0;
   padding-top:3px;
   padding-left:3px;
}
.docs-header .x-panel-body {
    background:transparent;
}

#header {

}

#header .api-title {
    font:normal 16px tahoma, arial, sans-serif;
    color:white;
    margin:5px;
}

.loading-indicator {
    font-size:11px;
    background-image:url('../images/loading.gif');
    background-repeat: no-repeat;
    background-position:top left;
    padding-left:20px;
	height:18px;
	text-align:left;
}

#doc-body .loading-indicator {
    font:bold 13px  Tahoma, Verdana, Arial, Helvetica, sans-serif;
    position:absolute;
    top:35%;
    left:43%;
    color:#444;
    background-image:url(../images/large-loading.gif);
    background-repeat: no-repeat;
    background-position:left 5px;
    padding:10px 10px 10px 38px;
	text-align:left;
}
a#welcome-link{
	background:#fff url(../images/docs.gif) no-repeat 0px 0px;
	padding-left:18px;
}
a#help-forums{
	background:#fff url(../images/forum.gif) no-repeat 16px 0px;
	padding-left:34px;
	display:block
}
#loading-mask{
	position:absolute;
	left:0;
	top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:white;
}
#loading{
	position:absolute;
	left:45%;
	top:40%;
	padding:2px;
	z-index:20001;
    height:auto;
}
#loading img {
    margin-bottom:5px;
}
#loading .loading-indicator{
	background:white;
	color:#555;
	font:bold 13px tahoma,arial,helvetica;
	padding:10px;
	margin:0;
    text-align:center;
    height:auto;
}
#api-tree a span {
    font-family:verdana,arial,tahoma,sans-serif;
    font-size:11px;
}
#api-tree .cls a:hover span {
    text-decoration:underline;
}
#api-tree .x-panel-body {
    background-color:white;
    position:relative;
    padding:3px;
}
#api-tree .cls{
    border:1px solid #fff;
}

#api-tree  .x-tree-selected {
    border:1px dotted #a3bae9;
    background:#DFE8F6;
}
#api-tree  .x-tree-node .x-tree-selected a span{
	background:transparent;
	color:#1E4176;
    font-weight:bold;
}

a {
	color: #1E4176;
}
a:link {
	color: #1E4176;
	text-decoration: none;
}

a:visited {
   color: #555;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #15428b;
}

#welcome {
    position:relative;
    top:0;
    left: 0;
    zoom:1;
}
.col{
	margin:0 250px 0 10px;
    zoom:1;
    padding: 10px 0;
}

.col-last {
    width: 220px;
    position:absolute;
    right:10px;
    top:10px;
}

.block{
	margin-bottom:10px;
}
.block-title{
	color: #1E4176;
	font:normal 18px tahoma,verdana,sans-serif;
    letter-spacing:-1px;
    padding: 4px;
	padding-left: 8px;
}
.block-body{
	padding:8px;
	padding-top:2px;
}
.block-body b{
	color:#333333;
	font-size:11px;
}
.block-body em {
	display:block;
	margin-top:5px;
	font-size:11px;
   color:gray;
	text-align:right;
}
.list{
	list-style: square;
	padding-left:20px;
	margin-top:5px;
}

.res-block {
    padding-top:5px;
    background:transparent url(../images/block-top.gif) no-repeat;
    width:210px;
    margin-bottom:15px;
}
.res-block-inner {
    padding:6px 11px;
    background:transparent url(../images/block-bottom.gif) no-repeat left bottom;
}

.res-block h3 {
    font: bold 12px tahoma,arial,sans-serif;
    color:#555;
    margin-bottom:8px;
}

.res-block ul {
    list-style-type: disc;
    margin-left:15px;
    font: normal 12px tahoma,arial,sans-serif;
    color:#555;
}

.res-block ul li {
    margin:0 0 5px 3px;
}

.hide-inherited .inherited {
    display:none;
}

#doc-body .x-tab-panel-body {
    background:#fff url(../images/text-bg.gif) repeat-x 0 0;
}
#doc-body .x-panel-body, #doc-body .body-wrap {
    background:transparent !important;
}

.btn-save {
	background-image:url(../images/save.gif) !important;
}
.icon-frm {
    background-image: url(../images/form.png) !important;
}
.icon-cls {
    background-image: url(../images/class.gif) !important;
}
.icon-reminder {
    background-image: url(../images/reminder.png) !important;
}
.icon-notes {
    background-image: url(../images/notes.png) !important;
}
.icon-event {
    background-image: url(../images/event.gif) !important;
}
.icon-event-anim {
    background-image: url(../images/event-anim.gif) !important;
}
.icon-config {
    background-image: url(../images/config.gif) !important;
}
.icon-prop {
    background-image: url(../images/prop.gif) !important;
}
.icon-method {
    background-image: url(../images/method.gif) !important;
}
.icon-cmp {
    background-image: url(../images/cmp.gif) !important;
}
.icon-pkg {
    background-image: url(../images/pkg.gif) !important;
}
.icon-fav {
    background-image: url(../images/fav.gif) !important;
}
.icon-static {
    background-image: url(../images/static.gif) !important;
}
.icon-docs {
    background-image: url(../images/docs.png) !important;
}
.icon-user-add{
    background-image: url(../../../images/icons/user_add.png) !important;
}
.icon-left{
    background-image: url(../../../images/icons/arrow-left.gif) !important;
}
.icon-right{
    background-image: url(../../../images/icons/arrow-right.gif) !important;
}
.icon-upload{
    background-image: url(../../../images/icons/upload.png) !important;
}
.icon-folder_go {
    background-image: url(../../../images/icons/folder_go.png) !important;
}
.icon-accept {
    background-image: url(../../../images/accept.png) !important;
}
.icon-book {
    background-image: url(../../../images/icons/book.png) !important;
}
.icon-phone {
    background-image: url(../../../images/icons/phone_book.png) !important;
}
.icon-bookmark {
		 background-image: url(../../../images/icons/bookmark.png) !important;				
}
.icon-calculator{
		 background-image: url(../../../images/icons/calculator.png) !important;				
}
.icon-selesai{
		 background-image: url(../../../images/icons/selesai.png) !important;				
}
.icon-grid {
    background-image: url(../../../images/buttons/grid.png) !important;
}
.icon-adds {
    background-image: url(../../../images/buttons/add.gif) !important;
}

.icon-renew-32 {
    background-image: url(../../../images/buttons/renew-32.png) !important;
}
.icon-remove-32 {
    background-image: url(../../../images/buttons/remove-32.png) !important;
}
.icon-refirm-32 {
    background-image: url(../../../images/buttons/refirm-32.png) !important;
}
.icon-relift-32 {
    background-image: url(../../../images/buttons/relift-32.png) !important;
}
.icon-refine-32 {
    background-image: url(../../../images/buttons/refine-32.png) !important;
}
.icon-relax-32 {
    background-image: url(../../../images/buttons/relax-32.png) !important;
}
.icon-reshape-32 {
    background-image: url(../../../images/buttons/reshape-32.png) !important;
}
.icon-reduce-32 {
    background-image: url(../../../images/buttons/reduce-32.png) !important;
}

.icon-renew-32-green {
    background-image: url(../../../images/buttons/renew-32-green.png) !important;
}
.icon-remove-32-green {
    background-image: url(../../../images/buttons/remove-32-green.png) !important;
}
.icon-refirm-32-green {
    background-image: url(../../../images/buttons/refirm-32-green.png) !important;
}
.icon-relift-32-green {
    background-image: url(../../../images/buttons/relift-32-green.png) !important;
}
.icon-refine-32-green {
    background-image: url(../../../images/buttons/refine-32-green.png) !important;
}
.icon-relax-32-green {
    background-image: url(../../../images/buttons/relax-32-green.png) !important;
}
.icon-reshape-32-green{
    background-image: url(../../../images/buttons/reshape-32-green.png) !important;
}
.icon-reduce-32-green {
    background-image: url(../../../images/buttons/reduce-32-green.png) !important;
}

.icon-renew-32-yellow {
    background-image: url(../../../images/buttons/renew-32-yellow.png) !important;
}
.icon-remove-32-yellow {
    background-image: url(../../../images/buttons/remove-32-yellow.png) !important;
}
.icon-refirm-32-yellow {
    background-image: url(../../../images/buttons/refirm-32-yellow.png) !important;
}
.icon-relift-32-yellow {
    background-image: url(../../../images/buttons/relift-32-yellow.png) !important;
}
.icon-refine-32-yellow {
    background-image: url(../../../images/buttons/refine-32-yellow.png) !important;
}
.icon-relax-32-yellow {
    background-image: url(../../../images/buttons/relax-32-yellow.png) !important;
}
.icon-reshape-32-yellow {
    background-image: url(../../../images/buttons/reshape-32-yellow.png) !important;
}
.icon-reduce-32-yellow {
    background-image: url(../../../images/buttons/reduce-32-yellow.png) !important;
}

.icon-renew-32-red {
    background-image: url(../../../images/buttons/renew-32-red.png) !important;
}
.icon-remove-32-red {
    background-image: url(../../../images/buttons/remove-32-red.png) !important;
}
.icon-refirm-32-red {
    background-image: url(../../../images/buttons/refirm-32-red.png) !important;
}
.icon-relift-32-red {
    background-image: url(../../../images/buttons/relift-32-red.png) !important;
}
.icon-refine-32-red {
    background-image: url(../../../images/buttons/refine-32-red.png) !important;
}
.icon-relax-32-red {
    background-image: url(../../../images/buttons/relax-32-red.png) !important;
}
.icon-reshape-32-red {
    background-image: url(../../../images/buttons/reshape-32-red.png) !important;
}
.icon-reduce-32-red {
    background-image: url(../../../images/buttons/reduce-32-red.png) !important;
}

.icon-printcard {
    background-image: url(../../../images/buttons/example.gif) !important;
}
.icon-view {
    background-image: url(../../../images/buttons/details.png) !important;
}
.icon-reopen {
    background-image: url(../../../images/buttons/transfer.png) !important;
}
.icon-update {
    background-image: url(../../../images/buttons/update.png) !important;
}
.icon-delete {
    background-image: url(../../../images/buttons/delete.gif) !important;
}
.icon-search {
    background-image: url(../../../images/buttons/search.png) !important;
}
.icon-print {
    background-image: url(../../../images/buttons/print.gif) !important;
}
.icon-xls {
    background-image: url(../../../images/buttons/xls.png) !important;
}
.icon-pdf {
    background-image: url(../../../images/buttons/pdf.png) !important;
}
.icon-refresh {
    background-image: url(../../../images/buttons/refresh.gif) !important;
}
.icon-cog {
    background-image: url(../../../images/icons/cog.png) !important;
}
.icon-valid {
    background-image: url(../../../images/buttons/details.png) !important;
}
.icon-aktivasi {
    background-image: url(../../../images/buttons/members.gif) !important;
}
.icon-inventori {
		 background-image: url(../../../images/buttons/inventori.png) !important;				
}
.icon-zoomin {
		 background-image: url(../../../images/buttons/zoom_in.png) !important;				
}
.icon-zoomout {
		 background-image: url(../../../images/buttons/zoom_out.png) !important;				
}

/*Style untuk header menu di halaman utama*/
.icon-files {
    background-image: url(../images/files.gif) !important;
}


.icon-expand-all {
    background-image: url(../images/expand-all.gif) !important;
}
.icon-collapse-all {
    background-image: url(../images/collapse-all.gif) !important;
}
.icon-expand-members {
    background-image: url(../images/expand-members.gif) !important;
}
.icon-hide-inherited {
    background-image: url(../images/hide-inherited.gif) !important;
}

#legend li {
	line-height:16px;
}
.item-icon {
	vertical-align:top;
	width:16px;
	height:16px;
	margin-right:6px;
}
.ext-ie .item-icon {
	vertical-align:middle;
}
h3.home-title {
	margin:5px 0;
	font:bold 13px tahoma,arial,sans-serif;
	color:#444;
}

.search-item {
	margin:5px 5px 9px;
	padding:0 5px 10px 0;
}

.search-item .member {
	font:bold 12px tahoma,arial,sans-serif;
	color:#444;
	margin:5px;
	overflow:hidden;
	white-space:nowrap;
	zoom:1;
}

.search-item .cls {
	font:normal 12px tahoma,arial,sans-serif;
	color:#444;
	margin:5px;
	overflow:hidden;
	text-align:left;
	white-space:nowrap;
	zoom:1;
}
.search-item p {
	font:normal 11px tahoma,arial,sans-serif;
	clear:both;
	margin: 0 5px 5px 28px;
	color:#444;
	zoom:1;
}
#search .loading-indicator {
	position:static !important;
}
#search h3 {
	font:normal 12px tahoma,arial,sans-serif;
	color:#444;
	margin:10px;
}
.inner-link .item-icon, .bookmark .item-icon{
	margin-right:3px;
}
.inner-link, .bookmark {
	margin-left:10px;
}

.btn_big {
	height: 45px;
}

/*Context Menu Tree Icon*/
.icon-el { background-image:url(../images/application.png) !important; }
.icon-deleteEl { background-image:url(../images/application_delete.png) !important; }
.icon-addEl { background-image:url(../images/application_add.png) !important; }
.icon-dupEl { background-image:url(../images/application_double.png) !important; }
.icon-editEl { background-image:url(../images/application_edit.png) !important; }

/**/
#all-shortcut_panel_left {
	width:130px;
}
.shortcut_panel_left {
	clear:both;
	font:normal 14px tahoma,arial,verdana,sans-serif;
}
.shortcut_panel_left dt {
	float:left;
	width:100px;
	margin:5px 5px 15px;
	text-align:center;
	font:normal 14px tahoma,arial,verdana,sans-serif;
}
.shortcut_panel_left dt img {
	margin-bottom:5px;
}

