
/* Printing Layout */
table {
	border-collapse: collapse;
	border: 2px solid #0000;
	font: normal 80%/140% arial, verdana, helvetica, sans-serif;
	color: #000;
	background: #fff;
	text-align: none;
}
caption {
	padding: 0 0.6em 0.8em;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	color: #000;
	background: transparent;
}
td {
	border: 2px solid #0000;
	padding: 0em;
	font-size: 1em;
}
tr {
	border: 2px solid #0000;
	padding: 1em;
}

th {
	border: 2px solid #0000;
	padding: 0em;
	font-size: 0.6em;
	background: #e8e8cf;
}
thead th {
	border: 2px solid #0000;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	background: #c6d7cf;
}
tfoot th, tfoot td {
	border: 2px solid #0000;
	text-align: left;
	font-size: 2em;
	background: #e8e8cf;
}
tfoot th {
	font-weight: bold;
}
tbody td a {
	background: transparent;
	color: #00c;
	text-decoration: underline;
	text-align:inherit;
}
tbody td a:hover {
	background: transparent;
	color: #00c;
	text-decoration: underline;
}
tbody th a {
	background: transparent;
	color: #3f7c5f;
	text-decoration: underline;
	font-weight: bold;
}
tbody th a:visited {
	color: #b98b00;
}
tbody th, tbody td {
	vertical-align: top;
	text-align: inherit;
}
tfoot td {
	border: 2px solid #0000;
}
tbody tr:hover {
	background: #ffffd9;
}

.numeric{
	text-align: right;
}
.title{
	text-align: center;
	font-size: 1.5em;
}

.title_main{
	text-align: center;
	font-size: 1em;
}

.clear{
	border: 2px solid #0000;
}
.foot{
	border:  2px solid #0000;
	background: #e8e8cf;
}

.print_date{
	font-size: 14px;
	font-style: italic;
}