.x-date-menu{
    width: 175px;
}
.grid_detail_top{
	margin-top: -8px;
}
.grid_top{
	margin-top: -6px;
}
.form_margin{
	margin-top: -6px;
	margin-left: -5px;
}
#delapan_r_masterGroup{
	margin-bottom: -5px;
}