@import url('font.css');

html, body {
  /*background: rgb(204,204,204); */
  font-family: 'Dinpro', sans-serif;
  font-size: 14px;
  line-height: 1em;
  height: 99%;
}
p {
  font-size: 12px;
  line-height: 1.5em;
}
b {
  font-weight: 700;
}
sub {
  vertical-align: super;
}
header {
  text-align: right;
  margin-left: 1cm;
  margin-right: 1cm;
}
header h3 {
  padding-top: 2cm;
  padding-bottom: 0.5cm;
}
footer {
  /*display: block;*/
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 1cm;
  line-height: 0.5em;
}

.footer {
  /*display: table;
  margin: 0 auto;*/
}
.footer b {
  font-weight: 700;
  color: #8DC73F;
}
.footer p {
  line-height: 0.5em;
}
.logo {
  width: auto;
  height: 2cm;
  padding-top: 1cm;
  float: left;
}
.hr {
  height: 1px;
  border: none;
  border-bottom:1px solid #aaa;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container {
  margin-left: 1cm;
  margin-right: 1cm;
}
.date {
  display: inline-block;
  position: absolute;
  right: 1cm;
}
.definition {
  display: inline-block;
  /*font-weight: 700;*/
  color: #8DC73F;
  transform: translateY(3cm);
  width: 45%;
}

.definition table {
  border: 0px solid white;
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
}
.definition td {
  vertical-align: top;
  text-align: left;
  font-size: 10px;
  /*color: #8DC73F;*/
  border: 0px solid white;
  background-color: rgba(255,255,255,0);
}
.definition td:nth-child(even) {
  background-color: rgba(255,255,255,0);
}
.eng {
  width: 40%;
  color: #8DC73F;
}
.id {
  width: 45%;
  color: #aaa;
}

.info {
  display: inline-block;
}
.info p {
  line-height: 0.5em;
  font-size: 14px;
}
.note {
  line-height: 0.5em;
  transform: translateY(50%);
  /*margin-top: 5em;*/
  width: 45%;
  display: inline-block;
}
.note p {
  margin-top: 0;
  margin-bottom: 0;
}
.note h4 {
  font-weight: 400;
}
.note h4 b {
  font-weight: 700;
}
.facetts {
  /*display: table;*/
  /*margin: 0 auto;*/
  height: 10cm;
}
.matrix {
  /*display: table;*/
  margin-top: 1cm;
  width: 100%;
}
.row {
  /*display: table;*/
  /*margin: 0 auto;*/
  width: 100%;
}
.column {
  float: right;
  width: 50%;
  height: 10cm;
  /*display: table-cell;*/
}
.harmony {
  display: block;
  width: 100%;
  /*margin-top: 1cm;*/
  margin-bottom: 0.5cm;
}
.harmony-title {
  /*margin-top: 2.5cm;*/
  /*margin-bottom: 1cm;*/
}
.harmony-result {
  display: inline-block;
}
.r {
  width: 1cm;
  height: auto;
  display: block;
  margin: 0 auto;
}
.circle {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: #8DC73F;
  width: 1.8cm;
  height: 1.8cm;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}
.green {
  background-color: #8DC73F;
}
.yellow {
  background-color: #E8D136;
}
.red {
  background-color: #C30000;
}
.holder {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 1.3cm;
  height: 1.3cm;
  position: relative;
  display: inline-block;
  /*vertical-align: middle;*/
  text-align: center;
  padding-left: 5px;
}
.clear {
  clear: both;
}
.fa {
  padding-left: 0.5cm;
  padding-right: 0.1cm;
}

.colorcodes {
  display: block;
  float: right;
}
.colorcodes p {
  line-height: 0.5cm;
  margin: 0;
}
.colorcodes img {
  vertical-align: middle;
  width: auto;
  line-height: 0cm;
}

img {
  vertical-align: middle;
  width: 100%;
}

table,th,td {
  border: 0px solid #aaa;
  font-size: 12px;
}
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
th {
  background: #8DC73F;
  color: white;
}
th,td {
  border: 1px solid #ccc;
}
td {
  vertical-align: top;
  text-align: center;
  font-size: 10px;
  color: #333;
}
td:nth-child(even) {
  background-color: #f2f2f2;
}

@media print {
  body, page {
    margin: 0;
    padding: 0;
    box-shadow: 0;
    background: rgb(255,255,255);
    height: 99% !important;
  }
  .info b {
    font-weight: 700;
  }
  header {
    margin-left: 0;
    margin-right: 0;
  }
  header h3 {
    padding-top: 1cm;
    padding-bottom: 0.5cm;
  }
  footer {
    margin-bottom: 0;
    /*height: 3cm;*/
  }
  .logo {
    padding-top: 0;
  }
  .date {
    right: 0;
  }
  .container {
    margin-left: 0;
    margin-right: 0;
    /*height: 10cm;*/
  }
  .footer b {
    font-weight: 700;
    color: #8DC73F;
  }
  hr {
    height: 1px;
    border: none;
    border-bottom:1px solid #aaa;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  table {
    border: 0px solid #aaa;
    border-collapse: collapse;
  }
}